<html>
<head>
	<meta charset="utf-8">
	<!-- CSS only -->
	<link rel="stylesheet" href="/public/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!-- code mirror -->
	<link rel="stylesheet" href="/public/codemirror.css">
	<script src="/public/codemirror.js"></script>
	<script src="/public/editor.js"></script>
	<script src="/public/modal.js"></script>
	<script src="/public/file_output.js"></script>
	<script src="/public/tabs.js"></script>
</head>
<body>
	<div class="container">
		<h1>Editor Sample</h1>
		<hr>
		<div class="main-page row">
			<div class="file_name_section col-4">
				<div id="file_name_inner">
				</div>
			</div>
			<div class="editor_section col-8">
				<div id="editor_tabs">
				</div>
				<div id="editor_inner">
					<textarea id="editor-textarea">var editor = "test";</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-content">
	</div>
<script>
	//
	var tabs = new Tabs([]);
	// 
	var all_files_o = "[<%= all_files %>]".replace("[", "").replace("]", "");
	var all_files_original = all_files_o.split(",");
	var all_files = []; var j = 0;
	for(var i = 0; i < all_files_original.length; i ++ ){
		j = i % 6;
		if ( j == 1 ) {
			all_files[all_files.length-1][0] = parseInt(all_files_original[i])
		} else if ( j == 2 ) {
			all_files[all_files.length-1][1] = parseInt(all_files_original[i])
		} else if (j == 3){
			all_files[all_files.length-1][3] = all_files_original[i]
		} else if (j == 4){
			all_files[all_files.length-1][4] = parseInt(all_files_original[i])
		} else if ( j == 5 ) {
			all_files[all_files.length-1][5] = parseInt(all_files_original[i])
		} else if ( j == 0 ) {
			all_files.push([]);
			all_files[all_files.length-1][2] = all_files_original[i]
		}
	}
	//	
	var file_name_area = document.getElementById("file_name_inner");
	var p_element_inner = "";
	var a_element;
	// for(var i = 0; i < all_files.length; i++){
	all_files.forEach( function(item) {
		var each_all_file = item;
		var li_element  = document.createElement("li");
		a_element   = document.createElement("a");
		a_element_inner =  "　".repeat(item[0]);
		a_element_inner += item[3];
		a_element.textContent = a_element_inner;
		//
		a_element.setAttribute("file_depth", item[0]);
		a_element.setAttribute("is_file", item[1]);
		a_element.setAttribute("file_name", item[3]);
		a_element.setAttribute("file_count", item[4]);
		a_element.setAttribute("parent_file", item[5]);
		if ( item[0] != 0 ){
			a_element.style.display = "none";
		}
		if ( item[1] == 0 ){
			//
			// a_element.href  = "http://localhost:3000?file_name=" + all_files[i][2];
			// getAjaxFileContent(_file_path_)
			a_element.onclick = function(){
				getAjaxFileContent(item[2])
			}
		} else {
			a_element.setAttribute("is_open", 0);
			a_element.onclick = function(){
				//
				console.log("is open " + parseInt(a_element.getAttribute("is_open")));
				var current_file_count = item[4];
				var file_name_inner = document.getElementById("file_name_inner");
				var file_names = file_name_inner.getElementsByTagName("a");
				var file_name_file_count = 0;
				if ( a_element.getAttribute("is_open") != 1 ){
					console.log("opening files....");
					for(var i = 0; i < file_names.length; i++){
						file_name_file_count = parseInt(file_names[i].getAttribute("parent_file"));
						if ( file_name_file_count == current_file_count ){
							file_names[i].style.display = "block";
						}
					}
					a_element.setAttribute("is_open", 1);
				} else {
					console.log("closing files....");
					for(var i = 0; i < file_names.length; i++){
						file_name_file_count = parseInt(file_names[i].getAttribute("parent_file"));
						if ( file_name_file_count == current_file_count ){
							file_names[i].style.display = "none";
						}
					}
					a_element.setAttribute("is_open", 0);
				}
			}
		}
		li_element.appendChild(a_element)
		file_name_area.appendChild(li_element)
	})
	//
</script>
<script>
	// code mirror
	show_editor();
</script>
</body>
</html>