/* */
.main-page{
	z-index: 1;
	width:1200px;
	height:600px;
}
.file_name_section{
	display:inline-block;
	width:360px;
}
.editor_section{
	display:inline-block;
	width:800px;
}

/* */
#file_name_inner{
	height:550px;
	list-style:none;
	font-size:11px;
	overflow:scroll;
	border:1px solid rgba(125, 125, 125, .5);
	padding:11px;
}

/* */
#editor_tabs{
	height:30px;
	border:1px solid rgba(125, 125, 125, .5);
	margin-bottom:10px;
}

/* drag */
.drag-and-drop{
	cursor:move;
	position:absolute;
	z-index:9;
}
.drag {
	z-index: 10;
}
