/* */
.main-page{
	z-index: 1;
}

/* */
#file_name_inner{
	height:500px;
	list-style:none;
	font-size:11px;
	overflow:scroll;
	border:1px solid rgba(125, 125, 125, .5);
	padding:11px;
}

/* */
.modal1 {
	z-index:3;
	background-color:rgba(24, 24, 24, .45);
	height:640px;
	margin-top:-130px;
}
.hide-modal{
	display:none;
}