/* */
.main-page{
	z-index: 1;
	width:1200px;
	height:600px;
}
.file_name_section{
	display:inline-block;
	width:360px;
}
.editor_section{
	display:inline-block;
	width:800px;
}

/* */
#file_name_inner{
	height:550px;
	list-style:none;
	font-size:11px;
	overflow:scroll;
	border:1px solid rgba(125, 125, 125, .5);
	padding:11px;
}

/* */
#editor_tabs{
	height:30px;
	border:1px solid rgba(125, 125, 125, .5);
	margin-bottom:10px;
}

/* drag */
.drag-and-drop{
	cursor:move;
	position:absolute;
	z-index:9;
}
.drag {
	z-index: 10;
}

/* modal */
.modal1{
	z-index:50;
	background-color:rgba(25, 25, 25, .45);
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
}
.modal-section{
	width:90%;
	background-color:rgba(255, 255, 255, .99);
	margin-left:5%;
	height:600px;
	margin-top:70px;
	overflow: scroll;
}
.modal-section-inner{
	padding:10px;
}
#modal-search-result{
	display:none;
	padding:10px;
}
.search_result_each{
	margin-top:15px;
	width:60%;
}
.search_result_link{
	display:block;
	font-size:12px;
	color:#777;
}
.search_result_title{
	margin-bottom:5px;
	font-size:20px;
}
.search_result_snippet{
	width:60%;
}
.search_result_each_ver2{
	/*width:45%;*/
	height:400px;
	vertical-align:top;
	padding:10px;
	display:inline-block;
	border:1px solid rgba(100, 100, 100, .5);
	/*margin:0 2.5%;*/
}
.search_result_textarea{
	margin:10px 5%;
	width:90%;
	height: 150px;
}
.modal_change_button_ver2{
	display:block !important;
	margin-bottom:10px;
}
